compatibility_level = 3.6
myhostname = ${MAIL_HOSTNAME}
myorigin = $myhostname
mydestination = localhost
mynetworks = 127.0.0.0/8
inet_interfaces = all
inet_protocols = ${POSTFIX_INET_PROTOCOLS}
smtpd_banner = $myhostname ESMTP
biff = no
append_dot_mydomain = no
recipient_delimiter = +
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
local_recipient_maps =
maillog_file = /var/log/mail/mail.log
message_size_limit = 52428800
mailbox_size_limit = 0
disable_vrfy_command = yes
smtpd_helo_required = yes

# --- Virtual hosting, fully database driven (add a domain in the UI -> live immediately) ---
virtual_mailbox_domains = pgsql:/etc/postfix/pgsql/domains.cf
virtual_mailbox_maps = pgsql:/etc/postfix/pgsql/mailboxes.cf
virtual_alias_maps = pgsql:/etc/postfix/pgsql/aliases.cf
smtpd_sender_login_maps = pgsql:/etc/postfix/pgsql/sender-login.cf
virtual_transport = lmtp:unix:private/dovecot-lmtp

# --- SASL (auth is delegated to Dovecot) ---
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes

# --- TLS ---
smtpd_tls_cert_file = /etc/ssl/mail/fullchain.pem
smtpd_tls_key_file = /etc/ssl/mail/privkey.pem
smtpd_tls_security_level = may
smtpd_tls_protocols = >=TLSv1.2
smtpd_tls_mandatory_protocols = >=TLSv1.2
smtpd_tls_auth_only = yes
smtpd_tls_received_header = yes
smtp_tls_security_level = may
smtp_tls_protocols = >=TLSv1.2
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_tls_loglevel = 1

# --- Relay / anti-abuse ---
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
smtpd_recipient_restrictions = reject_non_fqdn_recipient, reject_unknown_recipient_domain, permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
smtpd_sender_restrictions = reject_non_fqdn_sender, reject_unknown_sender_domain
smtpd_data_restrictions = reject_unauth_pipelining
smtpd_client_connection_rate_limit = 60
smtpd_client_message_rate_limit = 120
smtpd_client_auth_rate_limit = 20
anvil_rate_time_unit = 60s

# --- Rspamd: spam filtering, SPF/DKIM/DMARC checks, DKIM signing ---
smtpd_milters = inet:rspamd:11332
non_smtpd_milters = inet:rspamd:11332
milter_protocol = 6
milter_default_action = tempfail
milter_mail_macros = i {mail_addr} {client_addr} {client_name} {auth_authen}
